In [27]:
import numpy as np
import pandas as pd

In [28]:
df=pd.read_csv('weather.csv')
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [29]:
rows,column=df.shape

In [30]:
rows

6

In [31]:
column

4

In [32]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [33]:
df.head(3)

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow

df.tail(1)

In [34]:
df.tail(4)

          day  temperature  windspeed  event
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [38]:
#slicing
sl=df[2:5]
sl

          day  temperature  windspeed event
2  01-03-2017           28          2  Snow
3  01-04-2017           24          7  Snow
4  01-05-2017           32          4  Rain

In [41]:
df['day']

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [42]:
df.day

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [43]:
df[['day','event']]

          day  event
0  01-01-2017   Rain
1  01-02-2017  Sunny
2  01-03-2017   Snow
3  01-04-2017   Snow
4  01-05-2017   Rain
5  01-06-2017  Sunny