In [16]:
import numpy as np
import pandas as pd

In [17]:
df=pd.read_csv("newweather.csv",parse_dates=["day"])
df

          day  temperature  windspeed  event
0  2017-01-01         32.0        6.0   Rain
1  2017-01-02         35.0        7.0  Sunny
2  2017-01-03         28.0        2.0   Snow
3  2017-01-04         24.0        7.0   Snow
4  2017-01-05         32.0        4.0   Rain
5  2017-01-06         31.0        2.0  Sunny
6  2017-01-05         33.0        NaN   Snow
7  2017-01-06         32.0        4.0   Rain
8  2018-01-04         31.0        2.0  Sunny
9  2019-01-06         33.0        NaN   Snow
10 2019-01-05          NaN        5.0  Sunny
11 2017-01-05         32.0        4.0   Rain
12 2020-01-11          NaN        2.0  Sunny
13 2020-01-08         33.0        NaN   Snow
14 2020-01-06         32.0        4.0    NaN

In [18]:
df.set_index('day',inplace=True)
df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-02         35.0        7.0  Sunny
2017-01-03         28.0        2.0   Snow
2017-01-04         24.0        7.0   Snow
2017-01-05         32.0        4.0   Rain
2017-01-06         31.0        2.0  Sunny
2017-01-05         33.0        NaN   Snow
2017-01-06         32.0        4.0   Rain
2018-01-04         31.0        2.0  Sunny
2019-01-06         33.0        NaN   Snow
2019-01-05          NaN        5.0  Sunny
2017-01-05         32.0        4.0   Rain
2020-01-11          NaN        2.0  Sunny
2020-01-08         33.0        NaN   Snow
2020-01-06         32.0        4.0    NaN

In [19]:
df.fillna(0)

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-02         35.0        7.0  Sunny
2017-01-03         28.0        2.0   Snow
2017-01-04         24.0        7.0   Snow
2017-01-05         32.0        4.0   Rain
2017-01-06         31.0        2.0  Sunny
2017-01-05         33.0        0.0   Snow
2017-01-06         32.0        4.0   Rain
2018-01-04         31.0        2.0  Sunny
2019-01-06         33.0        0.0   Snow
2019-01-05          0.0        5.0  Sunny
2017-01-05         32.0        4.0   Rain
2020-01-11          0.0        2.0  Sunny
2020-01-08         33.0        0.0   Snow
2020-01-06         32.0        4.0      0

In [23]:
new_df=df.fillna(
{
    'temperature':0,
     'event': 'not a event',
    'windspeed' : 0
})
new_df

            temperature  windspeed        event
day
2017-01-01         32.0        6.0         Rain
2017-01-02         35.0        7.0        Sunny
2017-01-03         28.0        2.0         Snow
2017-01-04         24.0        7.0         Snow
2017-01-05         32.0        4.0         Rain
2017-01-06         31.0        2.0        Sunny
2017-01-05         33.0        0.0         Snow
2017-01-06         32.0        4.0         Rain
2018-01-04         31.0        2.0        Sunny
2019-01-06         33.0        0.0         Snow
2019-01-05          0.0        5.0        Sunny
2017-01-05         32.0        4.0         Rain
2020-01-11          0.0        2.0        Sunny
2020-01-08         33.0        0.0         Snow
2020-01-06         32.0        4.0  not a event

In [25]:
new_df=df.fillna(method="ffill")
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-02         35.0        7.0  Sunny
2017-01-03         28.0        2.0   Snow
2017-01-04         24.0        7.0   Snow
2017-01-05         32.0        4.0   Rain
2017-01-06         31.0        2.0  Sunny
2017-01-05         33.0        2.0   Snow
2017-01-06         32.0        4.0   Rain
2018-01-04         31.0        2.0  Sunny
2019-01-06         33.0        2.0   Snow
2019-01-05         33.0        5.0  Sunny
2017-01-05         32.0        4.0   Rain
2020-01-11         32.0        2.0  Sunny
2020-01-08         33.0        2.0   Snow
2020-01-06         32.0        4.0   Snow

In [26]:
new_df=df.fillna(method="bfill")
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-02         35.0        7.0  Sunny
2017-01-03         28.0        2.0   Snow
2017-01-04         24.0        7.0   Snow
2017-01-05         32.0        4.0   Rain
2017-01-06         31.0        2.0  Sunny
2017-01-05         33.0        4.0   Snow
2017-01-06         32.0        4.0   Rain
2018-01-04         31.0        2.0  Sunny
2019-01-06         33.0        5.0   Snow
2019-01-05         32.0        5.0  Sunny
2017-01-05         32.0        4.0   Rain
2020-01-11         33.0        2.0  Sunny
2020-01-08         33.0        4.0   Snow
2020-01-06         32.0        4.0    NaN

In [ ]:
new_df=df.fillna(method="ffill")