In [27]:
import numpy as np
import pandas as pd

In [28]:
df=pd.read_csv('weather.csv')
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [29]:
rows,column=df.shape

In [30]:
rows

6

In [31]:
column

4

In [32]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [33]:
df.head(3)

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow

df.tail(1)

In [34]:
df.tail(4)

          day  temperature  windspeed  event
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [38]:
#slicing
sl=df[2:5]
sl

          day  temperature  windspeed event
2  01-03-2017           28          2  Snow
3  01-04-2017           24          7  Snow
4  01-05-2017           32          4  Rain

In [41]:
df['day']

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [42]:
df.day

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [43]:
df[['day','event']]

          day  event
0  01-01-2017   Rain
1  01-02-2017  Sunny
2  01-03-2017   Snow
3  01-04-2017   Snow
4  01-05-2017   Rain
5  01-06-2017  Sunny

In [44]:
df.temperature.max()

35

In [46]:
df['temperature'].min()

24

In [47]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [51]:
df[df.event == 'Rain']

          day  temperature  windspeed event
0  01-01-2017           32          6  Rain
4  01-05-2017           32          4  Rain

In [52]:
df[ df.temperature == df['temperature'].min()]

          day  temperature  windspeed event
3  01-04-2017           24          7  Snow

In [57]:
df[['day','windspeed']][ df.temperature == df['temperature'].min()]

          day  windspeed
3  01-04-2017          7

In [58]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [62]:
df.iloc[5,2]

2

In [67]:
#Dataframe with dictionary objects
weather={
    'days' :['1/1/2017','1/2/2017','1/3/2017'],
     'tempertaure' :[32,35,28],
    'event': ['Rain','Sunney','Snow']
}

df=pd.DataFrame(weather)
df

       days  tempertaure   event
0  1/1/2017           32    Rain
1  1/2/2017           35  Sunney
2  1/3/2017           28    Snow

In [ ]:
#https://medium.com/@penggongting/implementing-decision-tree-from-scratch-in-python-c732e7c69aea

In [76]:
#https://github.com/random-forests/tutorials/blob/master/decision_tree.py

In [77]:
#https://dhirajkumarblog.medium.com/decision-tree-from-scratch-in-python-629631ec3e3a

In [78]:
#https://levelup.gitconnected.com/building-a-decision-tree-from-scratch-in-python-machine-learning-from-scratch-part-ii-6e2e56265b19

In [79]:
#https://towardsdatascience.com/decision-tree-algorithm-in-python-from-scratch-8c43f0e40173

In [80]:
#https://github.com/Eligijus112/decision-tree-python/blob/main/DecisionTree.py

In [81]:
#https://github.com/mlBhanuYerra/Metis_prj3

In [82]:
#https://github.com/python-engineer/MLfromscratch/blob/master/mlfromscratch/decision_tree.py

In [83]:
#https://www.youtube.com/watch?v=1DMWkIJRivo

In [86]:
weather_tuples=[
    ('2017-09-08',32,6,'Rain'),
     ('2017-09-08',32,6,'Sunny'),
     ('2019-09-01',32,7,'Snow')
]

In [87]:
pd.DataFrame(weather_tuples,columns=["day","temperature","windspeed","event"])

          day  temperature  windspeed  event
0  2017-09-08           32          6   Rain
1  2017-09-08           32          6  Sunny
2  2019-09-01           32          7   Snow

In [ ]:
#https://github.com/mlBhanuYerra